{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <div class="p-3 mb-2 bg-success text-white">BENVENUTI</div>
  <p class="lead">
    Vuoi che il tu cane o gatto imparino lo spagnolo - PETSITTER  MADRELINGUA
  </p>
  <hr class="my-4" />
  <p>
    Sono argentina ho 27 anni sono in Italia per studio. 
Mi mancano tanto i miei due cani ( Chita e Paquita) e il mio gatto (Miu)
</p>

<p>
Mi prendero cura dei tuoi cari come se fossero miei.
  </p>

<p>
  <img src="https://lh3.googleusercontent.com/Diu8eLrwTJ5OGmCg7mw64LoUjJnuktv1MknbBX3oVeMBQIKUP4T6hUAZGKYnP4CcQfCz8ia4XwFVst8pVpS7qTGVYlExOSZIingBEfY_FFJhQPAHUyCxYanHN2igT8Ux5Jfp8aKqL3zYb2GFi1iTcFoBvMO4-oeIEn8lnjKQB5NQ-0WgWr5eOt7Vu4qImUvwa0d0z4RJHGL8hBN5DlgPmwECn2AxFxHs6x--KtGbLOL230l5qJ9OuWCeSjG4gfATV3h3elFXhjZ8NZlxa8uYWV7cng7akdV8Sg47XSIR21_k65DMGz6JLsyG8NZDmM0hw3jdMwvW86e6wzAyBqa6uRaxbLAAE5q7TjovPF4s7pJ0n362NKYdPmXm-I6ihVWsJxtmkhI9VPwin9uc4dQh4hgk_P-E7_XSLLiDt8GHKLZo7RAF8xsKaHuZGw9LZxEc5Rg1KIAAh4nA-eF_34L_uYQvKSrOmZ4aJtgqSHFo2SRcNi0HjRh4hhx2JPOC8tCc4hg99GxMceeMQql6Lpt7ozhK9eUBvzVM2r5g2hZWPBAGF90azmEubeBisQu8v4AzUyR1FwGtHK4v3kO1wr5_SDjTirfOmKLpJ_O9EnY7EKlf4YljsTh1cQwBzpzXrVv-I1x5mIh79Av8ZRFbmyXBUVb4ukhTMMSZv5fyXgImoV4ux5CUbB9OUjpH9g27nDpjPtWo_7qtTVxfmx2GTrIdap_aOw=w469-h625-no?authuser=0" alt="chita" >
</p>

</div>


</head>

{% endblock %}
